{% extends 'base.html' %} {% block title %} Login {% endblock %} 
{% block content %}
<div class="col-md-6 m-auto">
  <div class="card card-body mt-5">
    <h2 class="text-center">Login</h2>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </div>
      <p>
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
